server:
  error:
    whitelabel:
      enabled: false
spring:
  profiles:
    active: local
  output:
    ansi:
      enabled: always
logging:
  file:
    path: /var/log/app/
    name: /var/log/app/app.log

logo-url: www.google.com
otp-expiry-time: 300
email-token-expiry-time: 86400



